body {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#docTitle, #docBody {

    border: none;

    margin-top: 50px;
    max-width: calc(100% - 40px);
    width: 1000px;

}

#docTitle:focus, #docBody:focus {
    outline: none !important;
}

#docTitle {
    color: #1c1e29;
    letter-spacing: -.5px;
    font-weight: 700;
    font-size: 1.75rem;
}

#docBody {

    color: #1c1e29 !important;
    letter-spacing: 0;
    font-size: 1.125rem !important;
    line-height: 2rem;

    height: calc(100vh - 200px);
    overflow-y: auto;

}

#buttonWrapper {

    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;

}

button {

    float: right;

    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;

}

button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}